// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Arial';
    src: font("arial/arial-regular.ttf");
}
@font-face {
    font-family: 'Georgia';
    src: font("georgia/georgia-regular.ttf");
}