.key {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #4aa5cf;
}

.wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

img {
  position: absolute;
  left: 0;
  top: 0;
  width: 121px;
  height: 45px;
}

h1 {
  padding: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #0e638a;
  text-align: center;
}

textarea {
  width: 800px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #0e638a;
  border-radius: 5px;
}

.keyboard_wrapper {
  border: 3px solid #292929;
  border-radius: 5px;
  background-color: #B2B2B2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.keyboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.key {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F6F6F6;
  -webkit-box-shadow: 3.33333px 3.33333px 3.33333px #0e638a;
          box-shadow: 3.33333px 3.33333px 3.33333px #0e638a;
}

.key:hover {
  -webkit-box-shadow: 3.33333px 3.33333px 3.33333px #4aa5cf;
          box-shadow: 3.33333px 3.33333px 3.33333px #4aa5cf;
}

.key_abc {
  background-color: #545454;
}

.key_space {
  background-color: #545454;
  width: 290px;
}

.key_control {
  background-color: #444444;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.key_control-large {
  width: 90px;
}

.key_control-midi {
  width: 65px;
}

.key_control-small {
  width: 40px;
}
/*# sourceMappingURL=main.css.map */