// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Помощник для определения размера
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
/// Помощник для определения position
@mixin left-top($left: 0, $top: 0) {
    left: $left;
    top: $top;
}

// -----------------------------------------------------------------------------
/// медиазапросы
/// $breakpoint-large < width
@mixin media-large {
    @media (min-width: $breakpoint-large) { @content; }
}
///$breakpoint-medium < width <= $breakpoint-large
@mixin media-medium {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) { @content; }
}
///width <= $breakpoint-medium
@mixin media-small {
    @media (max-width: $breakpoint-medium) { @content; }
}

// -----------------------------------------------------------------------------
/// Помощник для определения flex: вертикальные блоки, по умолчанию по всей высоте контейнера. 
/// Выраввнивание по горизонтали - в параметре, по умолчанию по центру
@mixin flex-vertical($align-items: center, $justify-content: space-between) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}
/// Помощник для определения flex: горизонтальные блоки, по умолчанию по всей ширине контейнера. 
/// Выраввнивание по вертикали - в параметре, по умолчанию по центру
@mixin flex-horizontal($align-items: center, $justify-content: space-between) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

// -----------------------------------------------------------------------------
/// Определение параметров текста
/// /* logo_title */
@mixin text-logo-title($color) {
    font-family: 'Arial';
    font-style: bold;
    //font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-decoration: none; 
    color: $color;
}
/// /* paragraph-l */
@mixin text-paragraph-l($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.06em;
    text-decoration: none; 
    color: $color;
}
/// /* button */
@mixin text-button($color) {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none; 
    color: $color;
}

