// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Помощник для определения размера
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
/// Помощник для определения position
@mixin left-top($left: 0, $top: 0) {
    left: $left;
    top: $top;
}

// -----------------------------------------------------------------------------
/// медиазапросы
/// $breakpoint-large < width
@mixin media-large {
    @media (min-width: $breakpoint-large) { @content; }
}
///$breakpoint-medium < width <= $breakpoint-large
@mixin media-medium {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) { @content; }
}
///width <= $breakpoint-medium
@mixin media-small {
    @media (max-width: $breakpoint-medium) { @content; }
}

// -----------------------------------------------------------------------------
/// Помощник для определения flex: вертикальные блоки, по умолчанию по всей высоте контейнера. 
/// Выраввнивание по горизонтали - в параметре, по умолчанию по центру
@mixin flex-vertical($align-items: center, $justify-content: space-between) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}
/// Помощник для определения flex: горизонтальные блоки, по умолчанию по всей ширине контейнера. 
/// Выраввнивание по вертикали - в параметре, по умолчанию по центру
@mixin flex-horizontal($align-items: center, $justify-content: space-between) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

// -----------------------------------------------------------------------------
/// Определение параметров текста
/// /* logo_title */
@mixin text-logo-title($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-decoration: none; 
    color: $color;
}
/// /* logo_subtitle */
@mixin text-logo-subtitle($color) {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-decoration: none; 
    color: $color;
}
/// /* h2 */
@mixin text-h2($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: $color;
}
/// /* h3 */
@mixin text-h3($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color;
}
/// /* h3-mobile */
@mixin text-h3-mobile($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color;
}
/// /* h4 */
@mixin text-h4($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color;
}
/// /* h5 */
@mixin text-h5($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color;
}
/// /* h5-modal */
@mixin text-h5-modal($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color;
}
/// /* paragraph-l */
@mixin text-paragraph-l($color) {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color;
}
/// /* paragraph-mobile-menu */
@mixin text-paragraph-mobile-menu($color) {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: $color;
}
/// /* donation-description */
@mixin text-donation-description($color) {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: $color;
}
/// /* button-primary, button-secondary */
@mixin text-button($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none; 
    text-align: center;
    color: $color;
}
/// /* pets-card-title */
@mixin text-pets-card($color) {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color;
}

